<ion-view title="Popick">
  <ion-content class="has-header">
    <div class="list card">
      <div class="item item-divider item-button-right">
        <div>
          <h2>Buyer: {{showContacts(chat.buyer)}}</h2>
        </div>
        <div>
          <h2>Approvers: {{showContacts(chat.approvers)}}</h2>
        </div>
        <button class="button" ng-click="pickContact()">
          <i class="icon ion-person-add"></i>
        </button>
      </div>
    
      <div class="item item-body" style="text-align: center; height: 1000px">
        <img class="full-image" src="img/cover.jpg">
      </div>
      
      <div class="item item-text-wrap">
          {{chat.title}}
     </div>
    </div>
    <div ng-repeat="comment in chat.comments" class="item item-avatar">
    <img src="img/avator_male.png">
      <h2>{{showContacts([comment.contact])}}</h2>
      <p>{{comment.comment}}</p>
    </div>    
  </ion-content>
  
  <ion-footer-bar>
    <div class="bar bar-footer item-input-inset footer-item-input-insert">
      <label class="item-input-wrapper">
        <input ng-model="comment" type="text" placeholder="Comment">
      </label>
      <input type="hidden" ng-model="comment.contact" value=-1>
      <button on-tap="sendComment(comment)" class="button button-clear">
        Send
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
