<ion-view title="Popick">
  <ion-content class="has-header">
    <div class="list card">

      <div class="item item-divider item-button-right">
        <div>
          <h2>{{showContacts(chat.people)}}</h2>
          <h2><span ng-repeat="person in chat.people">{{person}}</span></h2>
        </div>
        <button class="button" ng-click="pickContact()">
          <i class="icon ion-person-add"></i>
        </button>
      </div>
    
      <div class="item item-body" style="text-align: center; height: 200px">
        <img class="coverPic" src="img/cover.jpg">
      </div>
      
      <div class="item item-text-wrap">
          {{chat.title}}
      </div>
  </ion-content>
</ion-view>
