<ion-view title="Popick">
  <ion-nav-buttons side="left">
    <a nav-clear class="button button-icon icon ion-fireball" href="#/app/home"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="chat in chatlist" class="item-thumbnail-left" href="#/app/chat/{{chat.id}}">
        <img src="{{chat.image}}">
        <h2>{{chat.title}}</h2>
        <p>Buyer: {{showContacts(chat.buyer)}}</p>
        <p>Approvers: {{showContacts(chat.approvers)}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
